---
import Section from "@/components/printablecv-components/Section.astro"

interface Props {
  data: string;
  sectionTitle: string;
}
const { data, sectionTitle }= Astro.props
---
<Section title={sectionTitle} >
  <p class="text-[#555] dark:text-[#fff]">{data}</p>
<Section />