---
import Section from "@/components/printablecv-components/Section.astro"
---

<Section>
  <h1>Hero Section printable cv minimalist portfolio</h1>
  <div class="languageToggle">
    <a class="es-lang">
      Español
    </a>
    <a class="en-lang">
      English
    </a>
  </div>
</Section>