---
import ThemeToggle from "@/components/themeToggle.astro";
import ReturnHome from "./ReturnHome.astro";
import Section from "@/components/printablecv-components/Section.astro";
---

<Section>
  <nav id="topbar">
      <div class="flex justify-between items-center pt-4 max-w-2xl mx-auto lg:w-[822px]">
          <ReturnHome />
          <ThemeToggle darkThemeColor="#00f49a" lightThemeColor="#000" />
      </div>
  </nav>
</Section>
