---

import PrintableLayout from '@/layouts/printableLayout.astro'

import Hero from '@/components/printablecv-components/Hero.astro'
import KeyboardManager from '@/components/printablecv-components/KeyboardManager.astro'

import { basics } from "@cv"
const { name } = basics
---

<PrintableLayout language="es" title=`CV minimalista - ${name}`>
	<main>
		<Hero data={basics} />
	</main>
	
	<KeyboardManager />
</PrintableLayout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%
	}
</style>
