---
const { dataTarget } = Astro.props;
---

<button
    class="accordion-button group mt-4 w-fit justify-center p-1 pr-3 flex items-center gap-1 sm:gap-2 font-semibold text-sm text-light-texto-secondary dark:text-[#272727] bg-[#0001] dark:bg-mainPink transition-colors rounded-lg hover:bg-light-texto-primary dark:hover:bg-dark-texto-primary hover:text-light-fondo-primary dark:hover:text-dark-fondo-primary"
    data-target={`accordion-${dataTarget}`}
>
    <svg
        class="group-[.expanded]:rotate-180 transition-transform"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 20 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><polyline points="6 9 12 15 18 9"></polyline></svg
    >
    <span class="flex group-[.expanded]:hidden">ver más</span>
    <span class="hidden group-[.expanded]:flex">ver menos</span>
</button>
