.section {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.container {
    width: 50vw;
    color: black;
    font-weight: 500;
    font-size: 0.9rem;
}

.img {
    position: absolute;
    top: 30%;
    left: 65%;
    border-radius: 50%;
    margin: auto;
    width: 15rem;
    height: 15rem;
    rotate: 0deg
}

.motion {
    position: absolute;
    top: 30%;
    left: 65%;
    background-color: #43FFFF;
    border-radius: 50%;
    width: 15.5rem;
    height: 15.5rem
}

.div {
    width: 100%;
}

@media screen and (max-width: 1400px) {

    .motion {
        position: absolute;
        top: 34%;
        left: 60%;
        background-color: #43FFFF;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 1280px) {

    .section {
        flex-direction: column-reverse;
        margin-top: 20rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .img {
        position: absolute;
        top: 34%;
        left: 19%;
        border-radius: 50%;
        margin: auto;
        width: 14rem;
        height: 14rem;
        rotate: 0deg
    }

    .motion {
        position: absolute;
        top: 34%;
        left: 18%;
        background-color: #43FFFF;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
    }
}