<section
    class="flex flex-col sm:flex-row pt-16 pb-20 items-center gap-16"
>
    <article class="flex flex-col gap-8">
        <h1
            class="font-extrabold text-light-texto-primary dark:text-[#00fa9a] text-3xl sm:text-4xl"
        >
            Sobre mi
        </h1>
        <div
            class="flex flex-col gap-3 text-[1rem] text-light-texto-secondary dark:text-dark-texto-secondary"
        >
            <p class="about-paragraph text-pretty leading-7">
                Desarrollador Web full stack Javascript con preferencia por el front end. 
                Estudié además diseño UX UI en el programa “codo a codo” del Ministerio de Educación de CABA. 
                Durante mi formación he sido parte de equipos de trabajo multiculturales donde pude desarrollar 
                habilidades de comunicación y de trabajo en equipo participando en el desarrollo front end y 
                back end de aplicaciones web implementando una metodología de trabajo ágil. Actualmente me desempeño
                como freelancer.
            </p>
        </div>
    </article>
    <img
        class="rounded-xl h-[200px] w-[200px] sm:w-[300px] sm:h-[300px] mt-14"
        src="/blueCod.webp"
        alt="Damian Gonzalez - Desarrollador Frontend"
        loading="lazy"
    />
</section>
