---
import logoNan from "@p/dglogoBlueGreen.svg"
---

<section
    class="h-[calc(100vh-4rem)] min-h-[580px] py-10 flex flex-col justify-center items-center text-center gap-12"
    id="home"
>
    <div class="flex flex-col gap-2 text-center items-center justify-center">
        
        <img class="select-none w-[220px] h-[220px] my-1 animate-wiggle drop-shadow-[4px_8px_4px_rgba(0,0,0,0.25)] dark:drop-shadow-[2px_50px_10rem_#79ffcb]" {...logoNan}>
        <h1
            class="select-none welcomeGreeting drop-shadow-[1px_2px_1px_#00fa9a] dark:drop-shadow-[1px_2px_4px_rgba(19,154,255,0.75)] text-[1.5rem] sm:text-[1.8rem] text-[#272727] py-6 px-6 w-fit font-bold rounded-xl dark:text-[#00fa9a]"
        >
            Bienvenido!<span class="hi">👋</span> Soy Damian Gonzalez
        </h1>
        <p
            class="text-[2.4rem] sm:text-[3.1rem] md:text-[4rem] font-black leading-[1] text-[#43a1f1] dark:text-[#ededed]"
            id="slogan0"
        >
            Desarrollador Web
        </p>
        <p
            class="text-[2.4rem] sm:text-[3.1rem] md:text-[4rem] font-black leading-[1] text-[#434343] dark:text-[#ededed]"
            id="slogan0"
        >
            <span class="text-[#43a1fa] dark:text-[#ededed]">Frontend </span> <span class="dark:text-light-texto-primary text-[#00fa9a] ">Javascript</span>
        </p>
    </div>
    <div class="flex items-center gap-2 sm:gap-6">
        <a
            href="/min-portfolio"
            class="sm:w-40 justify-center p-2 pr-3 flex items-center gap-1 sm:gap-2 font-semibold text-[0.91rem] text-dark-texto-primary dark:text-[#272727] bg-[#43a1f1] dark:bg-[#00fa9a] transition-colors rounded-lg hover:bg-[#00fa9a] dark:hover:bg-light-texto-primary hover:text-[#272727] dark:hover:text-light-fondo-primary"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path
                    d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"
                ></path><polyline points="14 2 14 8 20 8"></polyline><line
                    x1="16"
                    y1="13"
                    x2="8"
                    y2="13"></line><line x1="16" y1="17" x2="8" y2="17"
                ></line><line x1="10" y1="9" x2="8" y2="9"></line></svg
            >
            <span>Curriculum</span>
        </a>

        <a
            href="#contact"
            class="sm:w-40 justify-center p-2 pr-3 flex items-center gap-1 sm:gap-2 font-semibold text-[0.91rem] text-dark-texto-primary dark:text-[#272727] bg-[#43a1f1] dark:bg-[#00fa9a] transition-colors rounded-lg hover:bg-[#00fa9a] dark:hover:bg-[#43a1f1] hover:text-[#272727] dark:hover:text-light-fondo-primary"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="23"
                height="23"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.8"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><line x1="7" y1="17" x2="17" y2="7"></line><polyline
                    points="7 7 17 7 17 17"></polyline></svg
            >
            Contacto
        </a>
    </div>
</section>