---
const { title } = Astro.props;
import "../styles/globals.css";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/dglogoBlueGreen.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <meta
            name="description"
            content="Desarrollador Web Fullstack Javascript."
        />
        <meta name="author" content="Nangonz" />
        <meta
            name="keywords"
            content="Damian Gonzalez,Desarrollador Frontend, Developer, frontend,Desarrollador,JavaScript,React.js"
        />
        <meta
            property="og:title"
            content="Damian Gonzalez - Desarrollador Frontend"
        />
        <meta property="og:url" content="https://damiangonzalez.tech" />
        <meta property="og:image" content="/nanLogo.png" />
        <meta
            property="og:description"
            content="Desarrollador Web Fullstack Javascript."
        />
        <title>{title}</title>
    </head>
    <body class="bg-light-fondo-primary dark:bg-dark-fondo-primary">
        <slot />
        <script>
            const themeSelected = localStorage.getItem("preferedTheme")
			const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)");
			const addDarkToClassList = () => {
					document.body.classList.add("dark");
					document.documentElement.classList.add("dark");
			}

			const removeDarkFromClassList = () => {
				document.body.classList.remove("dark");
				document.documentElement.classList.remove("dark");
			}

			if (themeSelected) {
				themeSelected === "dark" 
					? addDarkToClassList()
					: removeDarkFromClassList()
			} else {
				darkThemeMq.matches
					? addDarkToClassList()
					: removeDarkFromClassList()
			}
        </script>
    </body>
</html>
